{% extends "base.html" %}

{% block content %}

<div class="categories">
  <section class="category-section">
    <button class="category active">All</button>
    <button class="category">Python</button>
    <button class="category">Cisco</button>
    <button class="category">Rust</button>
  </section>
</div>
<div class="videos">
  <section class="video-section" , id="container">
  </section>
</div>

<script>

  function fetchVods() {
    fetch("/api/vods").then(res => res.json()).then(json => {
      console.log(json);

      const vods = document.getElementById('container');
      console.log(vods);
      json.forEach(item => {

        const article = document.createElement('article');
        article.className = "video-container";
        const thumbnail = document.createElement('a')
        thumbnail.className = "thumbnail";
        thumbnail.setAttribute("data-duration", item.length);
        thumbnail.href = `/movie/${item.title}`;
        thumbnail.innerHTML = `<img class="thumbnail-image" src="/media/vods/${item.title}/${item.thumbnail}" />`;

        article.appendChild(thumbnail);

        const bottomsection = document.createElement('div');
        bottomsection.className = "video-bottom-section";
        bottomsection.innerHTML = `<a href="#">
            <img class="channel-icon" src="/media/images/${item.actor.avatar}" />
          </a>
          <div class="video-details">
            <a href="/movie/${item.title}" class="video-title">${item.title}</a>
            <a href="#" class="video-channel-name">${item.actor.name}</a>
            <div class="video-metadata">
              <span>12K views</span>
              •
              <span>1 week ago</span>
            </div>`;
        article.append(bottomsection);
        console.log(article);

        vods.appendChild(article);
      });
    });
  }

  fetchVods();
</script>
{% endblock %}