{% extends "base.html" %}

{% block content %}
<h1>{{ file }}</h1>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<video id="video" width="720" height="480" preload="metadata" controls></video>
<script>
    var video = document.getElementById('video');
    var videoSrc = '/media/{{ file }}/{{ file }}.m3u8';
    console.log(videoSrc);
    if (Hls.isSupported()) {
        var hls = new Hls();
        hls.loadSource(videoSrc);
        hls.attachMedia(video);
    }
    else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = videoSrc;
    }
</script>
{% endblock %}